#Encabezado,#Cuerpo, #Pie-Pagina{ display: flex; justify-content: center; }

canvas{ 
  position: relative; 
  border: 1px solid rgb(149, 45, 45);
  margin-right: 5px;
  background-color: #ffffff;
}

#Usuario{ 
  width: 1600px;
  background: #70f8d4;
  font-family:'Century Gothic';
  font-size: 14pt;
  font-weight:600;
  text-shadow: gray 3px 3px;
  padding: 10px 20px;
}
  .boton, .entrada{ height: 40px; 
    font-family:'Century Gothic';
  }
  .margen-superior{ margin-top: 10px;
  }
  .margen-inferior{ margin-bottom: 10px; 
  }
  .boton{
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    width: 300px;
    font-family:'Century Gothic';
    
  }

  .entrada{
    width: 100;
    border: 1px solid #595959;
}


#Instructivo-Juego{ 
  width: 1600px;
  background: #70f8d4;
  font-family:'Century Gothic';
  font-size: 14pt;
  font-weight:600;
  text-shadow: gray 3px 3px;
  padding: 10px 20px;
  }
    .boton, .entrada{ height: 40px; }
    .margen-superior{ margin-top: 10px; }
    .margen-inferior{ margin-bottom: 10px; }
    .boton{
      background: #D3D3D3;
      border: 1px solid #D3D3D3;
      border-radius: 8px;
      width: 300px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      
    }
  
    .entrada{
      width: 100;
      border: 1px solid #595959;
  }



  #Resultados{ 
  width: 1600px;
  background: #70f8d4;
  font-family:'Century Gothic';
  font-size: 14pt;
  font-weight:600;
  text-shadow: gray 3px 3px;
  padding: 10px 20px;
  }
    .boton, .entrada{ height: 40px; }
    .margen-superior{ margin-top: 10px; }
    .margen-inferior{ margin-bottom: 10px; }
    .boton{
      background: #D3D3D3;
      border: 1px solid #D3D3D3;
      border-radius: 8px;
      width: 300px;
      
    }
  
    .entrada{
      width: 100;
      border: 1px solid #595959;
  }